# fireup graphlab

In [1]:
import graphlab

In [2]:
sf = graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to simacna@gmail.comand will expire on October 14, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-16330 - Server binary: /Users/Sina/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1445192346.log
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file /Users/Sina/Desktop/Science/Machine Learning/UW_ML/ML_foundations/Week1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.021463 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/Sina/Desktop/Science/Machine Learning/UW_ML/ML_foundations/Week1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.008701 secs.

# SFrame basics

In [3]:
sf #we can view first fiew lines of the table
#or we could do sf.head(), same things or sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# graphlab canvas

In [4]:
sf.show() #this will show the data we have in a new window

Canvas is accessible via web browser at the URL: http://localhost:51898/index.html
Opening Canvas in default web browser.

In [5]:
#if we don't want a new page to view the data, we can do the following:

In [6]:
graphlab.canvas.set_target('ipynb')

In [7]:
sf['age'].show(view='Categorical') #square brackets allows you to select one or many columns

# inspect columns of dataset

In [8]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [9]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [10]:
sf['age'].mean()

23.142857142857146

In [11]:
sf['age'].max()

25

In [12]:
sf['age'].ipynb_checkpoints/Getting\ started\ with\ SFrames-checkpoint.ipynb

SyntaxError: unexpected character after line continuation character (<ipython-input-12-6fe4e5466483>, line 1)

In [13]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name'] #creating a new column and setting it

In [14]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

# Use apply function to do advance transformation

In [15]:
sf['country']

RuntimeError: Runtime Exception. Column name country does not exist.

In [16]:
sf['Country'] #this has the issue of some having United States and USA

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [17]:
def change():

SyntaxError: unexpected EOF while parsing (<ipython-input-17-f80b2c87b267>, line 1)

In [19]:
def change(inp):
    temp = []
    for country in inp:
        temp.append(country)
        if country == "USA":
            country = "United States"
    return temp

test = change(sf['Country'])

print(test)

In [20]:
print(test)

['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [21]:
def transform_country(country):
    if country == "USA":
        return "United States"
    else:
        return country
    
transform_country('Brasil')

'Brasil'

In [22]:
transform_country('USA')

'United States'

In [23]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [27]:
#sf['Country'] = sf['Country'].transform_country

In [28]:
sf['Country'] = sf['Country'].apply(transform_country)

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]